<!--{ load tags_active %}-->
{% if host_id %}
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
    <a class="nav-link nav-link-collapse" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
        <i class="fas fa-fw fa-chart-area"></i>
        <span class="nav-link-text">{{ host.name }}</span>
    </a>
    <ul class="sidenav-second-level collapse show" id="collapseComponents"> 
        <li>
            <a href="/instances/{{ host_id }}"
                class="list{% if c.namespace == 'instances' %} selected{% endif %}"><i class="fas fa-server mr-1"></i>{% i18n "Instances" %}</a>
        </li>
        <li>
            <a href="/storages/{{ host_id }}"
                class="list{% if c.namespace == 'storages' %} selected{% endif %}"><i class="fas fa-hdd mr-1"></i>{% i18n "Storages" %}</a>
        </li>
        <li>
            <a href="/networks/{{ host_id }}"
                class="list{% if c.namespace == 'networks' %} selected{% endif %}"><i class="fas fa-sitemap mr-1"></i>{% i18n "Networks" %}</a>
        </li>
        <li>
            <a href="/interfaces/{{ host_id }}"
                class="list{% if c.namespace == 'interfaces' %} selected{% endif %}"><i class="fas fa-wifi mr-1"></i>{% i18n "Interfaces" %}</a>
        </li>
        <li>
            <a href="/secrets/{{ host_id }}"
                class="list{% if c.namespace == 'secrets' %} selected{% endif %}"><i class="fas fa-key mr-1"></i>{% i18n "Secrets" %}</a>
        </li>
        <li>
            <a href="/overview/{{ host_id }}"
                class="list{% if c.namespace == 'overview' %} selected{% endif %}"><i class="fas fa-info mr-1"></i>{% i18n "Overview" %}</a>
        </li>
    </ul>
</li>
{% endif %}
